@import './assets/styles/colors.scss';
@import './assets/styles/fonts.scss';

* {
  font-family: 'crimfbrg';
  letter-spacing: 0.08em;
}

body {
  height: 100%;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  background: $black;
  margin: 0px;
}

.content {
  flex: 1 0 auto;
  padding: 20px;
}

.info-item {
  font-size: 0.725em;
  margin: 0.5em 1.6em 1.2em 1.6em;

  .attr {
    font-size: 1em;
    margin-left: 0.4em;
    font-family: 'crimfbrg-bold';
  }
}
